@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}




/* shared */

.nav-left{
   display: flex;
   text-align: center;
   align-items: center;
    
}
.gap{
  gap: 2rem;
}
.logo-text{
   font-weight: 600;
   font-size: 32px;
}


.nav-flex{
   display: flex;
   justify-content: space-between;
   justify-items: center;
   align-items: center;
}

.width{
   max-width: 75rem;
   margin: 0 auto;
}
.btn{
   background: #FEA301;
   padding: .62rem 4rem;
   
}
.btn-hover:hover{
   background-color: blue;
}
.btn-radius{
   border-radius: 6px;
}
.nav-margin{
   margin-top: 0px;
   
}
.menu-icon{
   display: none;
}



/* banner */

.banner-left-width{
   max-width: 40rem;
}

.banner-flex{
    display: flex;
   justify-content: space-between;
   justify-items: center;
   align-items: center;
}
.banner-btn{
   background: #000000;
   padding: .62rem 4rem;
   color: white;
}

/* main section */
.main-width{
   
   max-width: 75rem;
   margin: 20px auto;
}
.main-bg-img{
   background-image: url('./../assets/bg.png');
}
/* standard curriculum */
.card{
   width: 367px;
   height: 476px;
   box-shadow: 0px 4px 8px #DEF5FF  ;
   border: 1px solid #66A9C7;
   border-radius: 20px;
   padding: 2px 46px;
}
.space-vertical{
   margin-top: 33px;
   margin-bottom: 33px;
}
.card-flex{
   display: flex;
   justify-content: space-between;
   align-items: center;

}
/* card-1 */
.gradient-color-card-1{
   background: linear-gradient(to bottom,#DEF5FF,#FFFFFF);
}
.card-heading-text{
   font-size: 30px;
   font-weight: 600;
}
.card-para-text{
   font-size: 16px;
   color: #808080;
}
.card-para-1-text{
   font-size: 16px;
   color: #64C8FF;
   font-weight:600;
}
/* card-2 */
.card-para-2-text{
   font-size: 16px;
   color: #F0AA00;
   font-weight:600;
}
.gradient-color-card-2{
   background: linear-gradient(to bottom,#FFF4DC,#FFFFFF);
}
/* card-3 */
.gradient-color-card-3{
   background: linear-gradient(to bottom,#EEE1FF,#FFFFFF);
}
.card-para-3-text{
   font-size: 16px;
   color: #8700FF;
   font-weight:600;
}
/* arrow */
.circle{
   width: 60px;
   height: 60px;
   background-color: #F0AA00;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
  gap: 10px;
}
.circle-gap{
   gap: 10px;
   margin: 80px auto;
}
.circle-flex{
   display: flex;

}
.circle-hover:hover{
   background-color: #8700FF;
}

/* Our stories ................*/
.our-stories-heading{
   margin: 5rem auto ;
   font-size: 2.87rem;
   font-weight: 500;
   text-align: center;
}
.our-stories-flex{
   display: flex;
   gap: 20px;
}
.our-stories-gradient{
   background: linear-gradient(to top,rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3));
}
/* big card */
.stories-big-card{
   width: 33.75rem;
   height:39.37rem;
   box-shadow: 0px 4px 8px #DEF5FF  ;
   border: 1px solid #66A9C7;
   border-radius: 20px;
  
}
.big-card-img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  

}
.position-big-card{
    position: relative;
}
.btn-big-card{
   width: 174px;
   height: 48px;
   padding: 14px 19px;
   background-color: #3CD8E8;
   border-radius: 30px;
   font-size: 1rem;
   color: white;
   margin-left: 20px;
   margin-top: -50px;
   margin-bottom: 20px;
   
}
/* .btn-position-big-card{
   position: absolute;
   top: 2160px;
   
 
   margin-left: 40px;
   margin-top: -100px;

} */
/* small card */
.small-card{
   width: 18.25rem;
   height: 19rem;
   border: 1px solid black;
   border-radius: 1.25rem;
}
.small-card-img{
   border-top-left-radius: 1.25rem;
   border-top-right-radius: 1.25rem;
   width: 100%;
}
.small-card-btn{
   width: 174px;
   height: 48px;
   padding: 14px 19px;
   background-color: #95B226;
   border-radius: 30px;
   font-size: 1rem;
   color: white;
  margin-left: 20px;
  margin-top: -30px;

}
.small-card-content{
   font-size: 1rem;
   font-weight: 800;
   padding: 0 2.87rem;
}
.small-card-grid{
   display: grid;
   grid-template-columns: repeat(2,2fr);
   gap: 20px;
   justify-items: center;
   align-items: center;
   margin: 0 auto;
}

/* footer */
.footer-img-flex{
   display: flex;
   
   align-items: center;
   gap: 10px;
}
.footer-flex{
   display: flex;
   justify-content: space-between;
   align-items: start;
}
.footer-padding-big-screen{
   padding-top: 123px;
   padding-bottom: 174px;
}


@media screen and  (max-width:800px)  {
   /* navbar */
   .hide{
      display: none;
   }
   .menu-icon{
      display: block;
   }
   .banner-flex{
      flex-direction: column-reverse;
      text-align: center;
      
   }
   .banner-text-width-small{
      max-width: 540px;
   }
   .card-flex{
      flex-direction: column;
   }
   .small-card{
   width: 173px;
   height: 180px;
   border: 1px solid black;
   border-radius: 12px;
   
}
.small-card-content{
   font-size: 14px;
   font-weight: 600;
   padding: 5px 5px;
}
.small-card-grid{
   display: grid;
   grid-template-columns: repeat(2,auto);
   gap: 10px;
   justify-items: center;
   justify-content: center;
   align-items: center;
   
}

.small-card-btn{
   position: absolute;
   width: 104px;
   height: 22px;
   padding: 6px 11px;
   background-color: #95B226;
   border-radius: 10px;
   font-size: 9px;
   color: white;
  margin-left: 20px;
  top: 125px;
  left: 2px;
  align-items: center;
  text-align: center;
  }
  .small-card-btn2{
   position: absolute;
   width: 104px;
   height: 22px;
   padding: 6px 11px;
   background-color: #95B226;
   border-radius: 10px;
   font-size: 9px;
   color: white;
  margin-left: 20px;
  bottom:-260px;
  left: 3px;
  align-items: center;
  text-align: center;
  }
  .small-card-btn3{
    position: absolute;
   width: 104px;
   height: 22px;
   padding: 6px 11px;
   background-color: #95B226;
   border-radius: 10px;
   font-size: 9px;
   color: white;
  margin-left: 20px;
  bottom:-2850px;
  left: 2px;
  align-items: center;
  text-align: center;
  }
.small-card-img{
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   width: 100%;
}
 .small-card-btn4{
   position: absolute;
   width: 104px;
   height: 22px;
   padding: 6px 11px;
   background-color: #95B226;
   border-radius: 10px;
   font-size: 9px;
   color: white;
  margin-left: 20px;
  bottom:-2700px;
  left: 3px;
  align-items: center;
  text-align: center;
  }
.main-small-padding{
   padding-right: 10px;
   padding-left: 10px;
}
/* .width{
   max-width: 50rem;
   margin: 0 auto;
}
.main-width{
   
   max-width: 50rem;
   margin: 20px auto;
} */
 /* footer */

.footer-flex{
   flex-direction: column;
   align-items: start;
}
.footer-padding{
   padding-left: 20px;
}

.padding{
   padding-left: 10px;
   padding-right: 10px;
}


}

